<p>authenticating...</p>

<%= form_tag provider_open_id_path(@provider), id: 'authenticate' do %>
  <%= hidden_field_tag :id_token, nil %>
<% end %>

<script>
(function ($) {
  // var fragment = $.url().fparam();
  var fragment = $.url().param();

  if (fragment.id_token) {
    $('#id_token .given').text(fragment.id_token);
    $('input#id_token').val(fragment.id_token)
    $('form#authenticate').submit();
  }
})(jQuery);
</script>