<p>authenticating...</p>

<%= form_tag provider_open_id_path(@provider), id: 'authenticate' do %>
  <%= hidden_field_tag :id_token, nil %>
<% end %>

<script>
(function ($) {
  var fragment = $.url().fparam();
  var query    = $.url().param(); // MS returns id_token in query for some reason.
  var id_token = fragment.id_token || query.id_token;

  if (id_token) {
    $('#id_token .given').text(id_token);
    $('input#id_token').val(id_token)
    $('form#authenticate').submit();
  }
})(jQuery);
</script>